@import url('https://fonts.googleapis.com/css?family=Montserrat');
//
// // global variables
$font : Montserrat, sans-serif;
$lightgray : #abaeb2;
$medgray : #787d84;
$darkgray : #333538;


// $black: #000;
//
//
//header
header {
  background-color: $medgray;
  height: 5vw;
  width: 100%;
  // margin: 0 6% 0;
  };

  h1{
    font-family: $font;
    color: $darkgray;
    text-decoration: none;
    flex-direction: column;
    padding-top: 2vw;
    padding-left: 5vw;

  };

 nav{
    float: right;
    ul li{
      display: inline-block;
      margin-right: 3vw;
      margin-left: 3vw;
      padding-bottom: 350px;
    }
  };

a{
  text-decoration: none;
  color: $darkgray;
  font-family: $font;
&:hover{
  text-decoration: underline;
    }
 };
body{
  background-color: $lightgray;
}
main{
    background-color: $lightgray;
    height: 40vw;
    width: 100%;
    margin: 0 6% 0 6%;
    outline: orange solid 1px;
}
.container{
  background-color: $lightgray;
  outline: pink 1px solid;
  height: 40vw;
  width: 80%;
  padding-top: 5vw;
  padding-left: 5vw;
  padding-right: 5vw;
  margin-left: 6vw;
};

.cow{
  outline: black 1px solid;
  width: 40%;
}

.history{
  outline: purple 1px solid;
};
//centering
form{
  outline: blue 1px solid;
  float: right;
  margin: -18.5vw 15vw 15vw 55vw;
  padding-top: 2vw;
  padding-bottom: 3vw;
  // clear: both;
  // display: flex;
  // justify-content: flex-end;
}
pre{
  outline: pink solid 33px;
};
option{
  outline: green solid 24px;
};
//buttons
select{
  margin: 2vw 0 2vw 0;
  font-family: $font;
  width: 20vw;
  height: 2vw;
  outline: hotpink solid 4px;
};

button{
  height: 2vw;
  width: 20vw;
  border-radius: 10%;
  font-family : $font;
  margin-top: 1vw;
  margin-bottom: 1vw;
  color: white;
  background-color: $darkgray;
  outline: black solid 1px;
}

input{
  height: 1.8vw;
  width: 20vw;
  font-family : $font;
  margin-bottom: 2vw;
  outline: black solid 1px;
};

 h2{
   font-family: $font;
   margin-bottom: 1vw;
 };

footer{
  background-color: $medgray;
  min-height: 140%;
  width: 80%;
  margin-left: 6%;
  margin-right: 6%;
  // flex: 1;

h6{
    font-family: $font;
    // justify-content: flex-end;
    float: right;
}
};
